.App {
    margin-top: 102px;
    position: static;
    top: 102px;
}

h2.cart-title {
    padding-top: 1.2em;
}

body {
    background-color: rgb(168, 208, 253);
}

div.cart-contents {
    top: 102px;
    position: static;
} 

div.content {
    position: static;
}
 
img.cart-item {
    height: 3rem;
    max-width: 3rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

h3.row {
    position: relative;
    text-align: center;
    line-height: 2;
    font-family: 'Courier New', garamond, sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: .5rem;
    margin-bottom: 0px;
    padding: .1rem;
    width: 80%;
}

h3#categories.row {
    font-weight: bold;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.row#contents, .row#categories {
    display: flex;
    flex-wrap: nowrap;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

input {
  width: 1.5em;
  height: 1.5em;
  font-size: 14px;
  text-align: center;
}

button.increase, button.decrease {
  width: 1.5em;
  height: 1.5em;
  font-size: 18px;
  font-weight: bold;
}

.content {
  position: static;
}

button.checkout, button.go-to-store {
    position: relative;
    padding: 5px;
    margin-left: 1em;
    margin-bottom: 3rem;
    margin-top: 20px;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    font-family: 'courier new', Garamond, Arial;
    font-weight: bold;
    font-size: 14px;
}

button.checkout:hover, button.go-to-store:hover {
  background-color:lightgrey;
}

.delete {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    border: none;
}