
  ul.nav-links {
    background-color: #5d5d5d;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0px;
    list-style-type: none;
    padding-inline-start: 0px;
  } 
  

  li.logo {
      float: left;
      padding: 1.0em;
      padding-left: 2.5em;
  }

  li.shop {
    position: relative;
    display: block;
    color: black;
    font-weight: bold;
    font-size: larger;
    float: right;
    padding: 2.5em;
    margin-right: 5em;
    text-align: center;
    text-decoration: none; 
  }
 
  li.cart {
    position: absolute;
    display: block;
    color: black;
    float: right;
    max-width: 70px;
    height: 2.5em;
    padding-top: 2.8em;
    right: 2.8em;
  } 

  .svg-inline--fa {
    height: 1.5em;
    width: auto;
  } 

  .svg-inline--fa.fa-w-18 {
    width: auto;
  } 
  
  li:hover {
    background-color: #111111;
  }

  li.logo {
      display: flex;
      max-width: 70px;
      height: 70px;
  }



  .item-count {
    float: none;
    position: relative;
    aspect-ratio: 1/1;
    width: 20px;
    height: 20px;
    top: -1em;
    right: .5em;
    content: attr(data-count);
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    color: rgb(168, 208, 253);
    border: white 2px;
    padding: 2px;
    text-align: center;
    background: rbga(0,0,0,0);
    border-style: solid;
  }
