
  nav {
    background-color: #5d5d5d;
    position: absolute;
    width: 100%;
    top: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5d5d5d;
  }

  li.logo {
      float: left;
  }

  li.shop {
      float: right;
      padding-top: 2.5em;
  }

  li.cart {
    float: right;
    max-width: 70px;
    height: 70px;
}

  li {    
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li:hover {
    background-color: #111111;
  }

  li.logo {
      display: flex;
      max-width: 70px;
      height: 70px;
  }

  .svg-inline--fa {
    height: 1.5em;
  }

  .svg-inline--fa.fa-w-18 {
    width: 1.5em;
    padding-top: 1.5em;
  }

  .item-count {
    float: right;
    max-width: 70px;
    position: absolute;
    right: 4.0em;
    top: 0em;
    content: attr(data-count);
    font-size: 14px;
    font-weight: bold;
    padding-top: 1.9em;
    border-radius:999px;
    line-height:.75em;
    color: rgb(168, 208, 253);
    border: transparent;
    margin-right: 1.5em;
    margin-top: .7em;
    text-align: center;
    min-width: 2em;
    background: rbga(0,0,0,0);
    border-style: solid;
  }

