body {
    background-color: rgb(168, 208, 253);
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    position: static;
    top: 102px;
} 
 
h2.shop-heading {
    position: relative;
    text-align: center;
    line-height: 2;
    font-family: 'Courier New', garamond, sans-serif;
    font-size: 30px;
    color: rgb(27, 27, 27);
    text-decoration: none;
    text-decoration-line: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 0px;
    width: 100%;
    border-style: none;
    border-width: 2px;
    border-color: #ccc;
    border-radius: 0%;
    top: 0px;
    padding: 0rem;
    padding-top: 1em;
}

img.item {
    height: 12rem;
    max-width: 12rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

  .content {
      top: 102px;
      position: absolute;
      text-align: center;
  }